---
name: Node.js CI
on:
  workflow_dispatch: null
env:
  BuildNumer: ${{ github.run_id }}- $ {{github.run_number}}
jobs:
  build:
    runs-on: ubuntu-latest
    outputs:
        build_configuration: ${{ steps.build.outputs.configuration }}
    strategy:
      matrix:
        node-version:
          - 18.x
    steps:
      - name: Extract branch name
        shell: bash
        run: echo "branch= $(echo ${GITHUB_REF#refs/heads/})"
        id: extract_branch
      - uses: actions/checkout@v4
      - name: based on commit branch set the build_configuration
        id: build
        run: |
          case "${{ steps.extract_branch.outputs.branch }}" in 
            "main" )
             echo ""${{ steps.extract_branch.outputs.branch }}""
             echo " configuration=$(echo 'master')" >> $GITHUB_OUTPUT
             ;;
            "main")
             echo " configuration=$(echo 'main')" >> $GITHUB_OUTPUT
             ;;
            *)
          esac 
      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v3
        with:
          node-version: ${{ matrix.node-version }}
          cache: npm
      - name: angular_cli
        run: npm ci
      - name: angular_build
        run: npm run build --configuration="${{ steps.build.outputs.configuration }}"
