name: dev-deployment
on:
  workflow_dispatch: null
env:
  BuildNumer: ${{ github.run_id }}- $ {{github.run_number}}
jobs:
  build:
    runs-on: ubuntu-latest
    outputs: null
    strategy:
      matrix:
        node-version:
          - 18.x
    steps:
      - name: Extract branch name
        id: extract_branch
        shell: bash
        run: |-
          echo "branch= $(echo ${GITHUB_REF#refs/heads/})"
          if [[ $branch == 'main']] ; then echo "HI $branch" endfi
